
@import '../variables.css';

.container{
  margin: 0 auto;
  max-width: var(--max-content-width);
  margin-top: 120px;
  margin-bottom: 168px;
  /*width: 61.755%;*/
  width:852px;
}
.text__header {
  font-family: 'Lora';
  font-size: 48px;
  color: #4F4F4F;
  margin-bottom: 20px;
}
.info, .items{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.info{
  width: 220px;
  margin-right: 59px;

}
.link__names{
  font-family: Roboto;
  font-size: 20px;
  color: #747880;
  margin-bottom: 28px;
  cursor: pointer;
}
.link__names:first-child{
  color: #3C3C43;
  font-weight: 700;
}

.link__names:hover {
  color: #3C3C43;
  font-weight: 700;
}
.button {
  border: 2px solid #3C3C43;
  color: #3C3C43;
  padding: 12px 15px;
  /*margin-top: 20px;*/
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  width: 220px;
  text-align: center;
}

.button:hover {
  border: 2px solid #3C3C43;
  color: #ffffff;
  background-color: #3C3C43;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.names{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.link {
  text-decoration: none;
}
@media (max-width: 360px){
  .container{
    margin-bottom: 20px;
  }
}
@media (max-width: 900px){
  .container{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 18px;
  }
  .content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .container h2{
  text-align: center;
  margin-left: 0px;
  }
}
