
@import '../variables.css';

.container{
  display: flex;
  flex-direction: column;
}
.container div{
  width: 50%;
}
.link {
  border-bottom: 2px solid #3C3C43;
  margin-right: 5%;
  white-space: nowrap;
  padding-bottom: 5px;
}

.link,
.link:active,
.link:visited {
  color: #3C3C43;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.link:hover {
  color: #a8a8a8;
  border-bottom: 2px solid #979176;
}

.big,.small{
  height: 295px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.big{
  width:405px;
  margin: 20px 0;
  margin-right: 20px;
}
.small{
  width:266px;
}
@media (max-width: 900px){
  .container:not(:nth-child(2)){
      display:none;
  }
  .small,.big{
    margin-right: 0;
  }
  .container{
    overflow: hidden;
  }
}
