@import '../variables.css';

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
  padding-bottom: 124px;
}

.form {
  max-width: 497px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}

.text__header {
  font-family: 'Lora';
  font-size: 48px;
  color: #4F4F4F;
  margin: 20px 0px;
}

.text__content {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  margin: 16px 0px 40px;
}
input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  border: 2px solid #3C3C43;
  border-radius: 2px;
  outline: none;
}

input::placeholder , textarea::placeholder{
  color: #4F4F4F;
}

input[type=submit] {
  width: 100%;
  background-color: #3C3C43;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border: 2px solid #3C3C43;
  border-radius: 2px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #3C3C43;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  border: 2px solid #3C3C43;
  border-radius: 2px;
  outline: none;
  height: 7em;
  resize: none;
}

.popUp {
  background: #3C3C43;
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  position: relative;
  width: 100%;
  padding: 15px;
}

.close {
  color: white;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 5px;
}

.close:after {
  content: '✖'; /* UTF-8 symbol */
}

@media (max-width: 360px) {
  .container{
    padding-bottom: 60px;
  }
  .text__header {
    font-size: 36px;
  }
  .text__content {
    font-size: 16px;
  }
  .text {
    text-align: left;
  }
}


