
@import '../variables.css';

.container{
  margin: 0 auto;
  max-width: var(--max-content-width);
  margin-top: 44px;
  margin-bottom: 40px;
  width: 100%;
  padding: 0 20px;
}
.logo {
  display: flex;
  width:100%;
  padding: 8.774% 38.397%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lora';
  line-height: 48px;
  font-size: 36px;
  color: #4F4F4F;
  margin-bottom: 40px;
}
.header__content{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.sidebar{
  width:68.634%;
  margin-right: 20px;
}
.footer{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  text-decoration: none;
}
.button {
  border: 2px solid #3C3C43;
  color: #3C3C43;
  padding: 13.5px 30px;
  /*margin-top: 20px;*/
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}

.button:hover {
  border: 2px solid #3C3C43;
  color: #ffffff;
  background-color: #3C3C43;
}
.statement{
  width: 100%;
  font-family: 'Lora';
  font-size: 54px;
  text-align: center;
  margin-bottom: 28px;
  padding: 13.2% 10.257%;
  background-color: #F9F0DD;
  overflow: hidden;
}

@media (max-width: 1181px){
  .sidebar{
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 360px) {
  .statement{
    font-size: 36px;
    line-height: 48px;
  }

  .footer{
    justify-content: flex-end;
  }
}
@media (max-width: 478px) {
  .statement{
    font-size: 40px;
    line-height: 48px;
  }
  .container{
    padding: 0;
  }
}

