.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.container:last-child{
  margin-bottom: 0;
}
.content{
  width: 880px;
  display: flex;
  flex-direction: column;
  max-width: 880px;
}
.line{
  width:100%;
  margin: 13px 0;
  color: #747880;
}
.filter{
  display: flex;
  justify-content: flex-start;
}
.filter span{
  margin-right: 10px;
  font-size: 16px;
  color: #3C3C43;
  line-height: 32px;
  font-weight: 500;
}
.title{
  font-size: 24px;
  line-height: 35px;
  margin-right: 48px;
  max-width: 333px;
  width:100%;
}
.images{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 20px;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image{
  margin-bottom: 20px;
  margin-right: 20px;
}
.image:last-child{
  margin-right:0;
}
@media(max-width: 1345px){
  .content{
    width: 100%;
  }
}
@media (max-width: 988px) {
  .images{
    flex-wrap: wrap;
    width: 100%;
  }
  .column:last-child img{
    width: 480px;
  }
  .container, .content, .filter, .images{
    display: flex;
    justify-content: center;
  }

}
